<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite" parallel="tests">
    <test name="Pixel_5">
        <listeners>
            <listener class-name="com.qa.listeners.TestListener" />
        </listeners>
        <parameter name="emulator" value="true" />
        <parameter name="platformName" value="Android" />
        <parameter name="udid" value="emulator-5554" />
        <parameter name="deviceName" value="Emulator" />
        <parameter name="systemPort" value="10000" />
        <parameter name="chromeDriverPort" value="11000" />
        <classes>
            <class name="com.qa.tests.LoginTests"/>
            <class name="com.qa.tests.ProductTests"/>
        </classes>
    </test>
    <test name="iPhone14ProMax">
        <listeners>
            <listener class-name="com.qa.listeners.TestListener" />
        </listeners>
        <parameter name="platformName" value="iOS" />
        <parameter name="udid" value="23F4CCB1-37FB-49D1-A4EC-637F26482298" />
        <parameter name="deviceName" value="iPhoneAutomation" />
        <parameter name="wdaLocalPort" value="10001" />
        <parameter name="webkitDebugProxyPort" value="11001" />
        <classes>
            <class name="com.qa.tests.LoginTests"/>
            <class name="com.qa.tests.ProductTests"/>
        </classes>
    </test>
</suite> <!-- Suite -->